/*  This is the background image towards our website*/

/* front page background: lake view */
body{
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

/* Welcome Title */
h1{
    text-align: center;
    margin-bottom: 20px; 
}

.content{
    position:absolute;
    width:100%;
    top:40%;
    transform: translateY(-50%);
    text-align:center;
    color:#fff;
    margin-bottom: 20px; 
}

/* Subtitle */
p {
    color: #FFF8E3;
    position: fixed;
    left: 100;
    right: 100; 
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    /* margin-left: 50;
    margin-right: 50;
    /* font-family: Verdana, sans-serif;  
    color: #FFF8E3;
    font-size: 22px;
    font-weight: bold; */
    
    
} 


